<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <select name="airline">
    <option value="American">American</option> 
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
    <option value="Qantas">Qantas</option>
    <option value="Singapore Airlines">Singapore Airlines</option>
  </select>
  <!-- <br><br> -->
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <!-- <br><br> -->
  <label>FlightNo:</label>
  <input type="text" name="flightNo">
  <!-- <br><br> -->
  <label>Departure:</label>
  <input type="datetime-local" name="departure" value=<%= departsDate %>>
  <br><br>
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>



